/* Main board window */

#board-viewport {
	background-color: #DDDDDD;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

#end-turn-btn {
	margin-left: 15px;
	margin-top: 15px;
}

.circle {
	border-radius: 50%;
}

.card-circle {
	background-color: #BBBBBB;
	height: 30px;
	width: 30px;
}

.above-board {
	z-index: 10;
}

.below-board {
	z-index: -1;
}

/* Right menu */

.right-tab-content {
	padding-right: 0px;
	padding-left: 0px;
}

.nav-pills.nav-stacked {
	padding-right: 0px;
}

.right-tab {
	background-color: #FFFFFF;
}

.right-tab-pane {
	height: 100vh;
	background-color: #FFFFFF;
}

.navbar-right {
	padding-right: 15px;
}

.navbar-btn {
	padding-left: 2px;
	padding-right: 2px;
}

.right-inner-tabs:first-child {
	padding-left: 10px;
}

#right-menu-container {
	padding-right: 0px;
}

/* Player tab */

.player-circle {
	height: 100px;
	width: 100px;
}

#p1-tab, #p2-tab, #p3-tab, #p4-tab {
	padding-left: 10px;
}

/* Trade tab */

.trade-row > div {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

/* Board */

.hexagon {
	position: absolute;
	/*background-color: #64C7CC;*/
	transform: rotate(30deg);
	margin: 0px;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
}

.hexagon:before {
	bottom: 100%;
}

.hexagon:after {
	top: 100%;
	width: 0;
}

.intersection {
	position: absolute;
}

.road {
	position: absolute;
	border-radius: 5px;
}
